{% extends 'front/base.html.twig' %}

{% block title %}Carbon Office - Connexion{% endblock %}

{% block main %}
        <div class="card flex justify-center items-center py-5">
            <div class="flex flex-col items-center">
                <h1>Connexion</h1>
                <p>Saisissez votre mot de passe pour vous connecter</p>
            </div>
            <div class="mt-4">
                <form method="post" class="space-y-4">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="grid grid-cols-3">
                            <label class="flex items-center col-span-1" for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control col-span-2" autocomplete="email" required autofocus>
                    </div>
                    <div class="grid grid-cols-3">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control col-span-2" autocomplete="current-password" required>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="mt-4 flex justify-center">
                        <button class="button button-blue w-full" type="submit">
                            Se connecter
                        </button>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}