{% extends 'back/base.html.twig' %}
{% block main %}
    Liste des plannings
    <ul>
        {% for user in users %}
            <li>{{user.lastname}} - {{user.firstname}}</li>
            {% set url = ea_url()
                .setController('App\\Controller\\Back\\PlanningCrudController')
                .setAction('show')
                .set('userId', user.id) %}
            <a href="{{url}}">Voir le planning</a>
        {% endfor %}
    </ul>
{% endblock %}
