{% set url_accueil = ea_url()
    .setController('App\\Controller\\Back\\DefaultController')
    .setAction('index')
%}

<div class="flex items-center space-x-4">
    <a class="no-underline" href="{{ url_accueil }}"><iconify-icon style="color: black;"  icon="fluent-mdl2:back" width="24"></iconify-icon></a>
    <h1>{{ page_title }}</h1>
</div>